Repository Techprimate/TPPDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml, check-testing-disabled

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: detect-private-key
      - id: end-of-file-fixer

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
        args: [--verbose]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: format-json
        name: Format JSON
        description: "Format JSON"
        files: ^.*\.json$
        types_or: [json]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-markdown
        name: Format Markdown
        description: "Format Markdown"
        files: ^.*\.md$
        types_or: [markdown]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: format-yaml
        name: Format YAML
        description: "Format YAML"
        files: ^.*\.(yaml|yml)$
        types_or: [yaml]
        entry: dprint
        language: system
        args:
          - "fmt"

      - id: check-testing-disabled
        name: Check testing is disabled
        description: "Ensure Package.swift has testing disabled and Package.resolved is not committed"
        files: ^(Package\.swift|Package\.resolved)$
        entry: .git-hooks/check-testing-disabled.sh
        language: script

fix: Update SwiftLint configuration to include Tests directory and lint only modified Swift files
  .swiftlint.yml
  Dangerfile.swift
Due: format-yaml

fix: Correct calculation for allCorners in RectCorner and add unit tests
  Source/API/Utils/CrossPlattformGraphics.swift
  Tests/TPPDFTests/Utils/RectCornerTests.swift
Due: none

fix: update macOS runner version to 26 for documentation workflow
  .github/workflows/documentation.yml
Due: format-yaml

chore(deps): Update Ruby dependencies to latest
  Gemfile.lock
Due: none

fix: Correct calculation for allCorners in RectCorner and add unit tests (#427)
  Source/API/Utils/CrossPlattformGraphics.swift
  Tests/TPPDFTests/Utils/RectCornerTests.swift
Due: none

style: Add example and shared directories to SwiftLint
  .swiftlint.yml
  Example macOS-SwiftPM/Example/AppDelegate.swift
  Example macOS-SwiftPM/Example/UI/ContentView.swift
  Example macOS-SwiftPM/Example/UI/DetailView.swift
  Example macOS-SwiftPM/Example/UI/PDFView+SwiftUI.swift
  Example macOS-SwiftPM/Example/UI/ProgressBar.swift
  Makefile
  Shared iOS/UI/ExamplesListViewController.swift
  Shared iOS/UI/ViewController.swift
  Shared/Examples/Examples.swift
  Shared/Examples/ImageExampleFactory.swift
  Shared/Examples/MultiSectionExampleFactory.swift
  Shared/Examples/TableExampleFactory.swift
  Shared/Examples/TextExampleFactory.swift
  Shared/Util/LoremIpsum.swift
  Shared/Util/TimeUtils.swift
Due: format-yaml

style: Change file-header in RectCornerTests
  Tests/TPPDFTests/Utils/RectCornerTests.swift
Due: none

fix sendable
  Source/API/Utils/CrossPlattformGraphics.swift
Due: none

style: Change file-header in RectCornerTests (#429)
  Tests/TPPDFTests/Utils/RectCornerTests.swift
Due: none

feat: Change to Swift 6 strict concurrency (#424)
  .github/workflows/documentation.yml
  Package.swift
  Source/API/Graphics/PDFLineStyle.swift
  Source/API/Graphics/PDFLineType.swift
  Source/API/Image/PDFImageOptions.swift
  Source/API/Table/PDFTableCell.swift
  Source/API/Table/Style/PDFTableCellBorders.swift
  Source/API/Table/Style/PDFTableCellStyle.swift
  Source/API/Utils/CrossPlattformGraphics.swift
  Tests/TPPDFTests/Graphics/PDFGraphics_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineSeparatorObject+Equatable_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineSeparatorObject_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineStyle_Equatable_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineStyle_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineType_Spec.swift
  Tests/TPPDFTests/PDFGenerator+Generation_Spec.swift
Due: format-yaml, check-testing-disabled

feat: add optional creator override to PDFInfo
  Source/API/Metadata/PDFInfo.swift
Due: none

Add PDFTable.fixedRowHeights public API
  Source/API/Table/PDFTable.swift
  Tests/TPPDFTests/Table/PDFTable+Equatable_Spec.swift
  Tests/TPPDFTests/Table/PDFTable_Spec.swift
Due: none

Apply fixedRowHeights during PDFTable row height calculation
  Source/Internal/Table/PDFTableObject.swift
Due: none

Restore PDFTableObject and apply fixed row height calculation
  Source/Internal/Table/PDFTableObject.swift
Due: none

Restore PDFTableObject with fixed row height support
  Source/Internal/Table/PDFTableObject.swift
Due: none

ci: Use latest macOS runners and available simulators
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: format-yaml

ci: Use built-in GitHub token for Danger
  .github/workflows/danger.yml
Due: format-yaml

ci: Add simulator readiness action and failure diagnostics
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  scripts/ci-diagnostics.sh
  scripts/ci-utils.sh
Due: format-yaml

ci: Remove CI diagnostics scripts and related steps from workflows
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  scripts/ci-diagnostics.sh
  scripts/ci-utils.sh
Due: format-yaml

ci: Use latest macOS runners and available simulators (#442)
  .github/workflows/danger.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: format-yaml

fix(section): Render column backgrounds before page content
  AGENTS.md
  Source/Internal/Section/PDFSectionObject.swift
  Tests/TPPDFTests/Internal/Section/PDFSectionObjectTests.swift
Due: format-markdown

fix(section): Render column backgrounds before page content (#443)
  AGENTS.md
  Source/Internal/Section/PDFSectionObject.swift
  Tests/TPPDFTests/Internal/Section/PDFSectionObjectTests.swift
Due: format-markdown

fix(image): Restore row indents within section columns
  Dangerfile.swift
  Source/Internal/Image/PDFImageRowObject.swift
  Tests/TPPDFTests/Image/PDFImageRowObjectTests.swift
Due: none

fix(image): Move non-resizable images to the next page
  Source/Internal/Image/PDFImageObject.swift
  Tests/TPPDFTests/Image/PDFImageObjectTests.swift
Due: none

fix(image): Avoid page breaks on empty content pages
  Source/Internal/Image/PDFImageObject.swift
  Tests/TPPDFIntegrationTests/ImagePaginationTests.swift
  Tests/TPPDFTests/Image/PDFImagePaginationTests.swift
Due: none

fix(image): Restore row indents within section columns (#444)
  Dangerfile.swift
  Source/Internal/Image/PDFImageRowObject.swift
  Tests/TPPDFTests/Image/PDFImageRowObjectTests.swift
Due: none

docs: Document bug-fix and verification workflow
  AGENTS.md
Due: format-markdown

fix(image): Move non-resizable images to the next page (#445)
  Source/Internal/Image/PDFImageObject.swift
  Tests/TPPDFTests/Image/PDFImageObjectTests.swift
Due: none

fix(image): Avoid page breaks on empty content pages (#446)
  Source/Internal/Image/PDFImageObject.swift
  Tests/TPPDFIntegrationTests/ImagePaginationTests.swift
  Tests/TPPDFTests/Image/PDFImagePaginationTests.swift
Due: none

docs: Document bug-fix and verification workflow (#447)
  AGENTS.md
Due: format-markdown

fix(table): Preserve custom headers across page breaks
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/TableHeaderPaginationTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableHeaderPaginationTests.swift
Due: none

fix(table): Preserve custom headers across page breaks (#448)
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/TableHeaderPaginationTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableHeaderPaginationTests.swift
Due: none

fix(table): Stop clipping tables in document headers
  AGENTS.md
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/DocumentHeaderTableTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableDocumentHeaderTests.swift
Due: format-markdown

fix(table): Stop clipping tables in document headers (#450)
  AGENTS.md
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/DocumentHeaderTableTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableDocumentHeaderTests.swift
Due: format-markdown

fix(table): Keep repeated headers with the first body row
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/TableHeaderPaginationTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableHeaderPaginationTests.swift
Due: none

fix(table): Keep repeated headers with the first body row (#451)
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFIntegrationTests/TableHeaderPaginationTests.swift
  Tests/TPPDFTests/Internal/Table/PDFTableHeaderPaginationTests.swift
Due: none
