Repository Techprimate/TPPDF: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-json, format-markdown, format-yaml, check-testing-disabled

format-json:
  name: Format JSON
  description: Format JSON
  entry: dprint
  language: system
  args:
  - fmt

format-markdown:
  name: Format Markdown
  description: Format Markdown
  entry: dprint
  language: system
  args:
  - fmt

format-yaml:
  name: Format YAML
  description: Format YAML
  entry: dprint
  language: system
  args:
  - fmt

check-testing-disabled:
  name: Check testing is disabled
  description: Ensure Package.swift has testing disabled and Package.resolved is not committed
  entry: .git-hooks/check-testing-disabled.sh
  language: script

feat(tests): Update PDFTableObjectSpec and PDFListItemObject_Spec for macCatalyst compatibility
  Tests/TPPDFTests/Internal/Table/PDFTableObjectSpec.swift
  Tests/TPPDFTests/List/PDFListItemObject_Spec.swift
Due: none

fix(ci): Remove unnecessary DESTINATION variable from test run command
  .github/workflows/tests.yml
Due: format-yaml

fix(ci): Change test workflow to only trigger for pushes to main
  .github/workflows/tests.yml
Due: format-yaml

fix: Remove legacy script reference from Dangerfile and create-xcframework script
  Dangerfile.swift
  scripts/create-xcframework.sh
Due: none

fix(ci): Add setup-xcode step to select Xcode 26.2
  .github/workflows/tests.yml
Due: format-yaml

chore: Bump minimum supported iOS version to v12
  Package.swift
Due: check-testing-disabled

chore: Add pre-commit configuration and dprint settings for code formatting
  .pre-commit-config.yaml
  dprint.json
Due: format-json, format-yaml

feat(ci): Add Makefile targets for building xcframework
  .github/workflows/release.yml
  Makefile
  scripts/create-xcframework.sh
Due: format-yaml

refactor(ci): Improve YAML formatting in workflows for clarity and consistency
  .github/workflows/documentation.yml
  .github/workflows/tests.yml
Due: format-yaml

chore(dx): Add default formatter setup and extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: format-json

chore(deps): Update Ruby to v3.4.7
  .ruby-version
  Gemfile.lock
Due: none

feat(ci): Add Makefile with platform-specific build and tests
  .github/workflows/tests.yml
  .gitignore
  Brewfile
  Makefile
  Package.swift
Due: format-yaml, check-testing-disabled

chore: Remove legacy CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Due: format-markdown

refactor: Chnage deprecated dependency format to from-version
  Package.swift
Due: check-testing-disabled

style: Apply all pre-commit format fixes
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  Documentation/Installation.md
  Example macOS/Example/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example macOS/Example/Assets.xcassets/Contents.json
  Example macOS/Example/Preview Content/Preview Assets.xcassets/Contents.json
  Shared iOS/Assets/Images.xcassets/AppIcon.appiconset/Contents.json
  TPPDF.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  TPPDF.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  scripts/carthage.sh
  scripts/create-xcframework.sh
Due: format-json, format-markdown

chore(ci): Extend default configuration in renovate.json
  renovate.json
Due: format-json

refactor: Moderinze example Xcode projects
  Example iOS-Carthage/Example_iOS-Carthage.xcodeproj/project.pbxproj
  Example iOS-Carthage/Example_iOS-Carthage.xcodeproj/xcshareddata/xcschemes/Example iOS (Carthage).xcscheme
  Example iOS-Cocoapods/Example_iOS-Cocoapods.xcodeproj/project.pbxproj
  Example iOS-Cocoapods/Example_iOS-Cocoapods.xcodeproj/xcshareddata/xcschemes/Example iOS (Cocoapods).xcscheme
  Example iOS-Cocoapods/Example_iOS-Cocoapods.xcworkspace/contents.xcworkspacedata
  Example iOS-Cocoapods/Podfile
  Example iOS-Cocoapods/Podfile.lock
  Example iOS-SwiftPM/Example_iOS-SPM.xcodeproj/xcshareddata/xcschemes/Example iOS (SPM).xcscheme
  Example macOS-SwiftPM/Example/AppDelegate.swift
  Example macOS-SwiftPM/Example/Assets.xcassets/AppIcon.appiconset/Contents.json
  Example macOS-SwiftPM/Example/Assets.xcassets/Contents.json
  Example macOS-SwiftPM/Example/Base.lproj/Main.storyboard
  Example macOS-SwiftPM/Example/Example.entitlements
  Example macOS-SwiftPM/Example/Info.plist
  Example macOS-SwiftPM/Example/Preview Content/Preview Assets.xcassets/Contents.json
  Example macOS-SwiftPM/Example/UI/ContentView.swift
  Example macOS-SwiftPM/Example/UI/DetailView.swift
  Example macOS-SwiftPM/Example/UI/PDFView+SwiftUI.swift
  Example macOS-SwiftPM/Example/UI/ProgressBar.swift
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/project.pbxproj
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/xcshareddata/xcschemes/Example macOS (SPM).xcscheme
  Example macOS/Example/Example.entitlements
  Example macOS/Example_macOS-SPM.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Example macOS/Example_macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Example macOS/Example_macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Examples.xcworkspace/contents.xcworkspacedata
  TPPDF.xcodeproj/TPPDF_Info.plist
  TPPDF.xcodeproj/project.pbxproj
  TPPDF.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  TPPDF.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  TPPDF.xcodeproj/xcshareddata/xcschemes/TPPDF.xcscheme
Due: format-json

refactor: Clean up Makefile and improve code readability in PDF render objects
  Makefile
  Source/API/Utils/PDFRenderObject.swift
  Source/Internal/Table/PDFTableObject.swift
  Tests/TPPDFTests/Layout/PDFLayout_Spec.swift
Due: none

fix(ci): Enable development dependencies for macOS unit tests
  .github/workflows/tests.yml
Due: format-yaml

chore: Reduce Xcode Project to required minimum for Cocoapods
  Gemfile
  Gemfile.lock
  Makefile
  TPPDF.xcodeproj/CwlCatchExceptionSupport_Info.plist
  TPPDF.xcodeproj/CwlCatchException_Info.plist
  TPPDF.xcodeproj/CwlMachBadInstructionHandler_Info.plist
  TPPDF.xcodeproj/CwlPosixPreconditionTesting_Info.plist
  TPPDF.xcodeproj/CwlPreconditionTesting_Info.plist
  TPPDF.xcodeproj/GeneratedModuleMap/CwlCatchExceptionSupport/module.modulemap
  TPPDF.xcodeproj/GeneratedModuleMap/NimbleCwlCatchExceptionSupport/module.modulemap
  TPPDF.xcodeproj/GeneratedModuleMap/NimbleCwlMachBadInstructionHandler/module.modulemap
  TPPDF.xcodeproj/GeneratedModuleMap/QuickObjCRuntime/module.modulemap
  TPPDF.xcodeproj/NimbleCwlCatchExceptionSupport_Info.plist
  TPPDF.xcodeproj/NimbleCwlCatchException_Info.plist
  TPPDF.xcodeproj/NimbleCwlMachBadInstructionHandler_Info.plist
  TPPDF.xcodeproj/NimbleCwlPreconditionTesting_Info.plist
  TPPDF.xcodeproj/Nimble_Info.plist
  TPPDF.xcodeproj/QuickObjCRuntime_Info.plist
  TPPDF.xcodeproj/QuickSpecBase_Info.plist
  TPPDF.xcodeproj/Quick_Info.plist
  TPPDF.xcodeproj/TPPDFIntegrationTests_Info.plist
  TPPDF.xcodeproj/TPPDFTests_Info.plist
  TPPDF.xcodeproj/project.pbxproj
  TPPDF.xcodeproj/xcshareddata/xcschemes/TPPDF-Package.xcscheme
  TPPDF.xcodeproj/xcshareddata/xcschemes/TPPDFIntegrationTests.xcscheme
  TPPDF.xcodeproj/xcshareddata/xcschemes/TPPDFPackageTests.xcscheme
  TPPDF.xcodeproj/xcshareddata/xcschemes/TPPDFTests.xcscheme
  scripts/create-xcframework.sh
Due: none

chore(deps): Update lockfile to latest versions
  Package.resolved
Due: check-testing-disabled

chore: Bump minimum deployment version in Cocoapods spec to v12
  TPPDF.podspec
Due: none

chore: Update Package.swift to enable development dependencies and remove Package.resolved
  .github/workflows/tests.yml
  Package.resolved
  Package.swift
Due: format-yaml, check-testing-disabled

feat(dx): Add custom pre-commit hook to check for disabled tests
  .git-hooks/check-testing-disabled.sh
  .pre-commit-config.yaml
  Example macOS-SwiftPM/Example_macOS-SPM.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: format-yaml

fix(ci): Change release workflow to determine tag and pre-release status dynamically
  .github/workflows/release.yml
Due: format-yaml

feat(ci): Add script to ensure runtime is loaded
  .github/workflows/tests.yml
  scripts/ci-ensure-runtime-loaded.sh
Due: format-yaml

more verbose script
  .github/workflows/tests.yml
  scripts/ci-ensure-runtime-loaded.sh
Due: format-yaml

change name of script
  .github/workflows/tests.yml
  scripts/ensure-runtime-loaded.sh
Due: format-yaml

feat(ci): Add script to ensure runtime is loaded (#423)
  .github/workflows/tests.yml
  scripts/ensure-runtime-loaded.sh
Due: format-yaml

feat: Change to Swift 6 strict concurrency
  Package.swift
  Source/API/Graphics/PDFLineStyle.swift
  Source/API/Graphics/PDFLineType.swift
  Source/API/Image/PDFImageOptions.swift
  Source/API/Table/PDFTableCell.swift
  Source/API/Table/Style/PDFTableCellBorders.swift
  Source/API/Table/Style/PDFTableCellStyle.swift
  Source/API/Utils/CrossPlattformGraphics.swift
  Tests/TPPDFTests/Graphics/PDFGraphics_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineSeparatorObject+Equatable_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineSeparatorObject_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineStyle_Equatable_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineStyle_Spec.swift
  Tests/TPPDFTests/Graphics/PDFLineType_Spec.swift
  Tests/TPPDFTests/PDFGenerator+Generation_Spec.swift
Due: check-testing-disabled

chore(docs): Add Makefile target to build Jazzy docs
  .github/workflows/documentation.yml
  Makefile
Due: format-yaml

chore(docs): Add Makefile target to build Jazzy docs (#425)
  .github/workflows/documentation.yml
  Makefile
Due: format-yaml

Path conditions:
  format-json: any of: ^.*\.json$ and \.json$
  format-markdown: any of: ^.*\.md$ and \.(md|markdown|mdown)$
  format-yaml: any of: ^.*\.(yaml|yml)$ and \.(yaml|yml)$
  check-testing-disabled: any of: ^(Package\.swift|Package\.resolved)$
